{% extends 'base.html' %}
{% load static %}

{% block title %}
login
{% endblock title %}


{% block css %}
  
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  
{% endblock css %}

{% block content %}


<nav>
  <h1>UBER</h1>
</nav>

<div id="logindiv">

    <form action="">

        <input type="text" placeholder="Enter Username"><br><br><br>
        <input type="text" placeholder="Enter Password"><br><br><br>
        <input type="submit" value="login" id="loginbtn"><br><br><br>

        <a href="{% url 'register' %}">You don't have an account Click Here</a>
    </form>


</div>





{% endblock content %}
